body {
    /* background-image: url(data/images/background.jpg); */
    background-size: 100vw 100vh;
    background-color: gainsboro;
    color: red;
    /* Définir la couleur du texte en blanc pour une meilleure lisibilité */
    font-family: "Arial Rounded MT Bold";
    font-size: 4vh;


    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: none;
    /* Propriété standard */

}

header{
    position: fixed;
    display: flex;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    padding: 1vh 1vw;
    background-color: gold;
}

header text{
    padding: 0 1vw;
}

#logoheader{
    max-height: 5vh;
    max-width: 5vw;
    cursor: pointer;
}

#tableCentre{
    position: absolute;
    top : 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    border-spacing: 1vw 2vh;
}


.redirect {
    display: table-cell;
    background-color: gold;
    border-color: red;
    color : red;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    height: 20vh;
    width: 30vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.redirect:hover{
    box-shadow: 0vh 0vw 0.2vh 0.2vw orangered;
}

.redirect:active{
    box-shadow: 0vh 0vw 0.2vh 0.2vw white;
}

#testDIV{
    position: absolute;

    top: 50vh;
}


/*Page formation*/


#tableHaute{
    position: absolute;
    top : 8vh;
    left: 50vw;
    transform: translateX(-50%);
    border-spacing: 4vw 2vh;
}

.topButton{
    display: table-cell;
    background-color: gold;
    border-color: red;
    color : red;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    height: 8vh;
    width: 30vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.mainDiv{
    background-color: gold;
    position: absolute;
    top : 22vh;
    left : 5vw;
    right: 5vw;
    padding: 3vh 4vw;
}

#addEmployeButton{
    position: absolute;
    right: 5vw;
    height: 5vh;
    width: 5vw;
}

#tablePersonnel{
    margin-top: 2vh ;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: medium;
    font-weight: bold;
}

#tablePersonnel td{
    border: 2px solid black;
    padding: 1vh 1vw;
}

#titreTd{
    width : 5vw;
    text-align: center;
}

#nomTd{
    width : 30vw;
    text-align: center;
}

#prenomTd{
    width : 30vw;
    text-align: center;
}

#formationTd{
    width : 8vw;
    text-align: center;
}

#categorieTd{
    width : 20vw;
    text-align: center;
}

#numPosteTd{
    width : 10vw;
    text-align: center;
}

#nomPosteTd{
    width : 30vw;
    text-align: center;
}

#formationPosteTd{
    width : 12vw;
    text-align: center;
}


/** Page Personnel */

#blur{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.5);
}

#zoneCentrale{
    z-index: 1;
    position: absolute;
    display: block;
    top:5vh;
    left: 5vw;
    right: 5vw;
    padding: 5vh 5vw;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    background-color: gold;
}

#mainInfos{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.hideElement{
    display: none;
}

#pictureDiv{
    display: block;
    width: 20vw;
    height: 30vh;
}

#picture{
    max-width: 20vw;
    max-height: 20vh;
}

#genreDiv{
    margin-top: 4vh;
    padding: 1vh 1vw;
}

#nomDiv{
    margin-top: 4vh;
    padding: 1vh 1vw;
}

#prenomDiv{
    margin-top: 4vh;
    padding: 1vh 1vw;
}

#infoDiv{
    position: absolute;
    top : 15vh;
    left: 25vw;
    padding: 1vh 1vw;
    color: darkred;
    font-size: medium;
    font-weight: 500;
}

#infoInput{
    height: 8vh;
    width: 50vw;
}

#modificationButton{
    position: absolute;
    right: 10vw;
    top: 27vh;
}

#anulerModifButton{
    position: absolute;
    right: 19vw;
    top: 27vh;
}

#suppProfilButton{
    position: absolute;
    right: 29vw;
    top: 27vh;
}

.popUp{
    position: fixed;
    z-index: 20;
    top: 28vh;
    left: 50vw;
    width: 40vw;
    transform: translateX(-50%);
    text-align: center;
    background-color: gold;
    border: 3px solid red;
    padding: 5vh 5vw;
}

.popUp button{
    margin: 0 1vw;
    margin-top: 3vh;
}


#nouvelleFormation{
    z-index: 30;
    top: 35vh;
    left: 50vw;
    width: 30vw;
}

#formationDiv{
    width: 80vw;
}

#tableFormationsPersonne{
    font-size: 2vw;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

#tableFormationsPersonne td{
    text-align: center;
    border: 1px solid black;
    border-left: 2px solid black;
    padding: 1vh 0;
    font-size: small;
}

.topTD{
    font-size: 2vw;
    border: 2px solid black !important; 
    font-weight: bold;
}

#catTdPersonne{
    width : 10vw;
    text-align: center;
}

#numTdPersonne{
    width : 7vw;
    text-align: center;
}

#typeTdPersonne{
    width : 10vw;
    text-align: center;
}

#nomTdPersonne{
    width : 30vw;
    text-align: center;
}

#dateTdPersonne{
    width : 12vw;
    text-align: center;
}

#niveauTdPersonne{
    width : 7vw;
    text-align: center;
}

/*Fiche compétence*/

#titreFicheFormation{
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1vh;
}

.subtitle{
    text-align: center;
    margin-bottom: 1.5vh ;
    margin-top: 2vh;
    font-size: 3vw;
    font-weight: 600;
}

.ligne{
    padding: 1vh 0;
}

.contentSpan{
    font-size: 3vw;
}

.editImgFiche{
    height: 2.8vh;
    cursor: pointer;
}

#ligneDate{
    padding-bottom: 0.3vh;
}

#niveauFormation{
    position: absolute;
    padding-top: 1vh;
    left: 60vw;
}

.evaluation-formulaire {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.2vw;
}
.evaluation-formulaire table {
    border-collapse: collapse;
    margin: 3vh 0;
}
.evaluation-formulaire th, .evaluation-formulaire td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.firstCol{
    text-align: left !important;
}

.evaluation-formulaire th {
    background-color: brown;
    color: red;
}

.evaluation-formulaire td {
    background-color: bisque;
}


/* Masquer la case à cocher d'origine */
.checkbox-custom {
    display: none;
}

/* Style pour le label qui représente la case à cocher */
.checkbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: tomato;
    border: 2px solid #ddd;
    cursor: pointer;
}

/* Quand la case à cocher est cochée, changez le fond du label */
.checkbox-custom:checked + .checkbox-label {
    background-color: mediumseagreen; /* La couleur que vous voulez */
}


#compAlreadyExist{
    font-size: small;
}