body {
    background-image: url(data/images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-color: gainsboro;
    color: rgb(231, 0, 0);
    /* Définir la couleur du texte en blanc pour une meilleure lisibilité */
    font-family: "Arial Rounded MT Bold";
    font-size: 4vh;


    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: none;
    /* Propriété standard */

}

header {
    position: fixed;
    display: flex;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    padding: 1vh 1vw;
    background-color: whitesmoke;
    height: 18vh;
}

lineHeader {
    z-index: 9;
    background-color: lightgrey;
    height: 0.5vh;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 20vh;
}


hoverLine {
    position: absolute;
    display: block;
    background-color: rgb(180, 182, 185);
    width: 100%;
    height: 0vh;
    top: 8.2vh
}

#menu li:hover hoverLine {

    height: 1vh;
}




.selectedLine {
    z-index: 1000;
    position: absolute;
    background-color: rgb(231, 0, 0);
    width: 100%;
    height: 1vh;
    top: 8.2vh
}

#logoheader {
    cursor: pointer;
    margin: 1vh 1vw;
    max-height: 15vh;
}


#menu,
#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 11.5vh;
    left: 20vw;
}

#menu li {
    display: inline-block;
    font-size: 2.2vw;
    position: absolute;
    width: max-content;
}

#menu li:first-child {
    left: 6vw;
}

#menu li:nth-child(2) {
    left: 18vw
}

#menu li:nth-child(3) {
    left: 42vw
}

#menu ul li {
    background-color: whitesmoke;
    color: #000;
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 0;
    padding: 1vh 1.5vw;
    font-size: 1.8vw;
}

#menu ul li:nth-child(1) {
    left: 0;
}

#menu ul li:nth-child(2) {
    left: 0;
}

#menu ul li:nth-child(3) {
    left: 0;
}

#menu ul li:hover {
    border-radius: 0;
    color: rgb(231, 0, 0);
}

#menu ul li:last-child {
    /* border-radius:0 0 8px 8px; */
}

#menu ul {
    position: absolute;
    top: 9vh;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    /* top : 30vh; */
    overflow: hidden;
    -moz-transition: .5s all;
    -webkit-transition: .5s all;
    transition: .5s all;
}

#menu li:hover ul {
    max-height: 25em;
}

/* background des liens menus */
/* #menu li:first-child {
    background-color: #65537A;
    background-image: -webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
    background-image: linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
} */

/* background des liens sous menus */
/* #menu li:first-child li {
    background: #2A2333;
} */

/* background des liens menus et sous menus au survol */
#menu li:hover,
#menu li:hover {
    background: gainsboro;
}

/* les a href */
#menu topMenu {
    text-decoration: none;
    display: block;
    padding: 1.5vh 2.5vw;
    color: #000;
}


#menu li:hover li a {
    color: #fff;
    text-transform: inherit;
}

#menu li:hover a,
#menu li li:hover a {
    color: rgb(231, 0, 0);
}

/* accueil */


mainText {
    position: absolute;
    top: 35vh;
    right: 10vw;
    font-size: 6.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mainCut {
    position: absolute;
    top: 55vh;
    right: 10vw;
    width: 30vw;
    height: 4vh;
    border-radius: 20px;
    background-color: rgb(231, 0, 0);
}

sloganText {
    position: absolute;
    top: 65vh;
    right: 10vw;
    font-size: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}



/* personnel */

#tableCentre {
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    border-spacing: 1vw 2vh;
}


.redirect {
    display: table-cell;
    background-color: khaki;
    border: solid whitesmoke;
    border-radius: 30px;
    color: #333030;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 25vh;
    width: 25vw;
    margin: 1.5vh 1.2vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.redirect:hover {
    background-color: lemonchiffon;
}

.redirect:active {
    box-shadow: 0vh 0vw 0.2vh 0.2vw white;
    background-color: beige;
}

#testDIV {
    position: absolute;

    top: 50vh;
}


/*Page formation*/

#separateur {}

#tableHaute {
    position: absolute;
    top: 22vh;
    left: 50vw;
    transform: translateX(-50%);
    border-spacing: 4.5vw 2vh;
}

.topButton {
    display: table-cell;
    background-color: khaki;
    border: solid whitesmoke;
    border-radius: 30px;
    color: #333030;
    font-size: 2.1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 12vh;
    width: 25vw;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.topButton:hover {
    background-color: beige !important;
}

.topButton:active {
    box-shadow: 0vh 0vw 0.2vh 0.2vw white !important;
    background-color: lemonchiffon !important;
}

.mainDiv {
    background-color: rgba(226, 226, 226, 0.8);
    color: #000;
    position: absolute;
    top: 40vh;
    left: 15vw;
    right: 15vw;
    padding: 3vh 4vw;
    border-radius: 20px;
    border: solid whitesmoke;
    align-items: center;
}


.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.7vh 0.7vw;
    width: 20vw;
    margin-left: 5vw;
    margin-top: 1vh;
    border: solid whitesmoke;
    background-color: rgb(0, 0, 0, 0.05);
}

.search-container input[type="search"] {
    border: none;
    outline: none;
    padding: 0.5vh 0.3vw;
    flex-grow: 1;
    background-color: rgb(0, 0, 0, 0);
    font-family: calibri;
    font-size: 1.5vw;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon img{
    margin-top: 0.5vh;
    max-height: 4vh;
}


.addBtn {
    position: absolute;
    top: 4.2vh;
    right: 10vw;
    height: 7vh;
    width: 10vw;
    background-color: rgb(0, 0, 0, 0.05);
    border: solid whitesmoke;
    border-radius: 20px;
    font-family: calibri;
    font-size: 1.5vw;
}

.addBtn:hover{
    color:whitesmoke;
    box-shadow: 0vh 0vw 0.1vh 0.1vw whitesmoke;
}

.addBtn:active{
    background-color: gainsboro;
}


.mainTable {
    margin-top: 2vh;
    border: 1px solid whitesmoke;
    border-collapse: separate;
    border-spacing: 0;
    /* Assurez-vous qu'il n'y a pas d'espace entre les cellules */
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
    font-family: calibri;
    font-size: 1.6vw;
    margin: 5vh auto;
    background-color: rgb(0, 0, 0, 0.05);

}



/* Appliquer des bordures uniquement sur les bords extérieurs de la table et des cellules aux extrémités */
.mainTable tr:first-child td:first-child {
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-top-left-radius: 10px;
}

.mainTable tr:first-child td:last-child {
    border-top: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-top-right-radius: 10px;
}

.mainTable tr:last-child td:first-child {
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-bottom-left-radius: 10px;
}

.mainTable tr:last-child td:last-child {
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-bottom-right-radius: 10px;
}

.mainTable tr:first-child td {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.mainTable tr:last-child td {
    border-bottom: 2px solid whitesmoke;
}

.mainTable tr td:first-child {
    border-left: 2px solid whitesmoke;
}

.mainTable tr td:last-child {
    border-right: 2px solid whitesmoke;
}

/* Supprimer les bordures internes */
.mainTable tr td {
    border: 1.5px solid whitesmoke;
}

.mainTable td {
    border: 2px solid whitesmoke;
    padding: 1vh 1vw;
}

#titreTd {
    width: 5vw;
    text-align: center;
    font-weight: bold;
}

#nomTd {
    font-weight: bold;
    width: 15vw;
    text-align: center;
}

#prenomTd {
    font-weight: bold;
    width: 15vw;
    text-align: center;
}

#formationTd {
    font-weight: bold;
    width: 8vw;
    text-align: center;
}

#categorieTd {
    font-weight: bold;
    width: 10vw;
    text-align: center;
}

#numPosteTd {
    font-weight: bold;
    width: 3vw;
    text-align: center;
}

.mainTable tr td:nth-child(2){
    text-align: center;
}

#nomPosteTd {
    font-weight: bold;
    width: 25vw;
    text-align: center;
}

#formationPosteTd {
    font-weight: bold;
    width: 8vw;
    text-align: center;
}

.formationButton{
    background-color: rgb(0, 0, 0, 0.05);
    border: solid whitesmoke;
    border-radius: 20px;
    font-family: calibri;
    font-size: 1.5vw;
    padding: 0.5vh 1.5vw;
}

.formationButton:hover{
    color:whitesmoke;
    box-shadow: 0vh 0vw 0.1vh 0.1vw whitesmoke;
}

.formationButton:active{
    background-color: gainsboro;
}


/** Page Personnel */

#blur {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.5);
}


#zoneCentrale {
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    min-height: 100%;
    padding: 5vh 5vw;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    background-color: khaki;
}

#mainInfos {
    display: flex;
    font-family: calibri;
    color: #2c2b2b;
    font-size: 5vw;
    height: 30vh;
}

.hideElement {
    display: none;
}

#picturediv {
    position: absolute;
    display: block;
    width: 20vw;
    height: 30vh;
}

#picture {
    border-radius: 100%;
    max-width: 30vw;
    max-height: 30vh;
    
}

#pictureInput{
    position: absolute;
    top : 15vh;
    left: 8vw;
    font-size: 1.5vw;
}

#genreDiv {
    margin-top: 3vh;
    padding: 1vh 1vw;
    padding-left: 4vw;
}

#nomDiv {
    margin-top: 3vh;
    padding: 1vh 1vw;
}

#prenomDiv {
    margin-top: 3vh;
    padding: 1vh 1vw;
}

#infoDiv {
    position: absolute;
    width: 62vw;
    top: 17vh;
    left: 29vw;
    padding: 1vh 1vw;
    font-size: 2.5vw;
    font-weight: 500;
}

#categorieDiv {
    padding: 1vh 2vw;
}

#numPosteDiv {
    padding: 1vh 2vw;
}

#numPosteInput {
    width: 5vw;
}

#idPosteUnavaible {
    position: absolute;
    font-size: small;
    margin-top: 2vh;
}

#nomPosteDiv {
    padding: 1vh 2vw;
}

#infoPosteDiv {
    position: absolute;
    top: 15vh;
    left: 10vw;
    padding: 1vh 1vw;
    color: darkred;
    font-size: medium;
    font-weight: 500;
}

#infoInput {
    height: 8vh;
    width: 50vw;
}


.btnFiche {
    background-color: lightgrey;
    border: solid whitesmoke;
    border-radius: 20px;
    font-family: calibri;
    font-size: 2.3vw;
    padding: 1vh 2vw;
}

.btnFiche:hover{
    color:whitesmoke;
    box-shadow: 0vh 0vw 0.1vh 0.1vw whitesmoke;
}

.btnFiche:active{
    background-color: gainsboro;
}

#modificationButton {
    position: absolute;
    right: 8.5vw;
    top: 28vh;
}

#anulerModifButton {
    position: absolute;
    right: 21vw;
    top: 28vh;
}

#suppPosteButton{
    position: absolute;
    right: 34.5vw;
    top: 28vh;
}

#suppProfilButton {
    position: absolute;
    right: 34.5vw;
    top: 32vh;
}

.popUp {
    position: fixed;
    z-index: 20;
    top: 28vh;
    left: 50vw;
    width: 40vw;
    transform: translateX(-50%);
    text-align: center;
    background-color: khaki;    
    color: #2c2b2b;
    border: 3px solid whitesmoke;
    padding: 5vh 5vw;
}

.popUp button {
    margin: 0 1vw;
    margin-top: 3vh;
}


#newFormationButton {
    margin: 4vh 0 0 4vw;
    width: 20vw;
}

#formationDiv {
    color: #2c2b2b;
}

#tableFormationsPersonne {
    margin-top: 0;
    border: 1px solid whitesmoke;
    border-collapse: separate;
    border-spacing: 0;
    /* Assurez-vous qu'il n'y a pas d'espace entre les cellules */
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
    font-family: calibri;
    font-size: 1.6vw;
    margin: 5vh auto;
    background-color: rgb(0, 0, 0, 0.05);

}


/* Appliquer des bordures uniquement sur les bords extérieurs de la table et des cellules aux extrémités */
#tableFormationsPersonne tr:first-child td:first-child {
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-top-left-radius: 10px;
}

#tableFormationsPersonne tr:first-child td:last-child {
    border-top: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-top-right-radius: 10px;
}

#tableFormationsPersonne tr:last-child td:first-child {
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-bottom-left-radius: 10px;
}

#tableFormationsPersonne tr:last-child td:last-child {
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-bottom-right-radius: 10px;
}

#tableFormationsPersonne tr:first-child td {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

#tableFormationsPersonne tr:last-child td {
    border-bottom: 2px solid whitesmoke;
}

#tableFormationsPersonne tr td:first-child {
    border-left: 2px solid whitesmoke;
}

#tableFormationsPersonne tr td:last-child {
    border-right: 2px solid whitesmoke;
}

#tableFormationsPersonne tr td:nth-child(2) {
    text-align: center;
}

#tableFormationsPersonne tr td:nth-child(5) {
    text-align: center;
}

#tableFormationsPersonne tr td:nth-child(6) {
    text-align: center;
}

/* Supprimer les bordures internes */
#tableFormationsPersonne tr td {
    border: 1.5px solid whitesmoke;
}

#tableFormationsPersonne td {
    border: 2px solid whitesmoke;
    padding: 1vh 1vw;
}

/* #tableFormationsPersonne {
    font-size: 2vw;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
} */

/* #tableFormationsPersonne td {
    text-align: center;
    border: 1px solid black;
    border-left: 2px solid black;
    padding: 1vh 0;
    font-size: small;
}
 */
.topTD {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#catTdPersonne {
    width: 10vw;
    text-align: center;
}

#numTdPersonne {
    width: 5vw;
    text-align: center;
}

#typeTdPersonne {
    width: 9vw;
    text-align: center;
}

#nomTdPersonne {
    width: 25vw;
    text-align: center;
}

#dateTdPersonne {
    width: 8vw;
    text-align: center;
}

#niveauTdPersonne {
    width: 6vw;
    text-align: center;
}

#titreTdPoste {
    width: 7vw;
    text-align: center;
}

#nomTdPoste {
    width: 17vw;
    text-align: center;
}

#prenomTdPoste {
    width: 17vw;
    text-align: center;
}

#niveauTdPoste {
    width: 7vw;
    text-align: center;
}

.competenceButton {
    background-color: lightgrey;
    border: solid 0.2vw whitesmoke;
    height: 5vh;
    width: 7vw;
    border-radius: 10px;
    font-family: calibri;
    font-size: 1.5vw;
}

.competenceButton:hover{
    color:whitesmoke;
    box-shadow: 0vh 0vw 0.05vh 0.05vw whitesmoke;
}

.competenceButton:active{
    background-color: gainsboro;
}



#tableFormationsPoste {
    margin-top: 0;
    border: 1px solid whitesmoke;
    border-collapse: separate;
    border-spacing: 0;
    /* Assurez-vous qu'il n'y a pas d'espace entre les cellules */
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
    font-family: calibri;
    font-size: 1.6vw;
    margin: 5vh auto;
    background-color: rgb(0, 0, 0, 0.05);

}


/* Appliquer des bordures uniquement sur les bords extérieurs de la table et des cellules aux extrémités */
#tableFormationsPoste tr:first-child td:first-child {
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-top-left-radius: 10px;
}

#tableFormationsPoste tr:first-child td:last-child {
    border-top: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-top-right-radius: 10px;
}

#tableFormationsPoste tr:last-child td:first-child {
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-bottom-left-radius: 10px;
}

#tableFormationsPoste tr:last-child td:last-child {
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-bottom-right-radius: 10px;
}

#tableFormationsPoste tr:first-child td {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

#tableFormationsPoste tr:last-child td {
    border-bottom: 2px solid whitesmoke;
}

#tableFormationsPoste tr td:first-child {
    border-left: 2px solid whitesmoke;
}

#tableFormationsPoste tr td:last-child {
    border-right: 2px solid whitesmoke;
}

#tableFormationsPoste tr td:nth-child(4) {
    text-align: center;
}

/* Supprimer les bordures internes */
#tableFormationsPoste tr td {
    border: 1.5px solid whitesmoke;
}

#tableFormationsPoste td {
    border: 2px solid whitesmoke;
    padding: 1vh 1vw;
}


/*Fiche compétence*/

#ficheFormation{
    color: #2c2b2b;
}

#titreFicheFormation {
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1vh;
}

.subtitle {
    text-align: center;
    margin-bottom: 1.5vh;
    margin-top: 2vh;
    font-size: 3vw;
    font-weight: bold;
}

.ligne {
    padding: 1vh 0;
}

.contentSpan {
    font-weight: initial;
}

.editImgFiche {
    height: 2.8vh;
    cursor: pointer;
}

#ligneDate {
    padding-bottom: 0.3vh;
}

#niveauFormation {
    position: absolute;
    padding-top: 1vh;
    left: 60vw;
}

.evaluation-formulaire {
    font-family: Calibri;
    font-size: 2.5vw;
    font-weight: bold;
}

/* .evaluation-formulaire table {
    border-collapse: collapse;
    margin: 3vh 0;
}

.evaluation-formulaire th,
.evaluation-formulaire td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.firstCol {
    text-align: left !important;
}

.evaluation-formulaire th {
    background-color: brown;
    color: rgb(231, 0, 0);
}

.evaluation-formulaire td {
    background-color: bisque;
} */


#tableFormationFiche {
    margin-top: 0;
    border: 1px solid whitesmoke;
    border-collapse: separate;
    border-spacing: 0;
    /* Assurez-vous qu'il n'y a pas d'espace entre les cellules */
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
    font-family: calibri;
    font-weight: normal;
    margin: 2vh auto;
    background-color: rgb(0, 0, 0, 0.05);

}


/* Appliquer des bordures uniquement sur les bords extérieurs de la table et des cellules aux extrémités */
#tableFormationFiche tr:first-child td:first-child {
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-top-left-radius: 10px;
}

#tableFormationFiche tr:first-child td:last-child {
    border-top: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-top-right-radius: 10px;
}

#tableFormationFiche tr:last-child td:first-child {
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-bottom-left-radius: 10px;
}

#tableFormationFiche tr:last-child td:last-child {
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-bottom-right-radius: 10px;
}

#tableFormationFiche tr:first-child td {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    font-weight: bold;
}

#tableFormationFiche tr:last-child td {
    border-bottom: 2px solid whitesmoke;
}

#tableFormationFiche tr td:first-child {
    border-left: 2px solid whitesmoke;
}

#tableFormationFiche tr td:last-child {
    border-right: 2px solid whitesmoke;
}

#tableFormationFiche tr td:nth-child(2) {
    text-align: center;
}

/* Supprimer les bordures internes */
#tableFormationFiche tr td {
    border: 1.5px solid whitesmoke;
}

#tableFormationFiche td {
    border: 2px solid whitesmoke;
    padding: 1vh 1vw;
}


/* Masquer la case à cocher d'origine */
.checkbox-custom {
    display: none;
}

/* Style pour le label qui représente la case à cocher */
.checkbox-label {
    margin-top: 1vh;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    background: crimson;
    border: 0.2vw solid #ddd;
    border-radius: 100%;
    cursor: pointer;
}

/* Quand la case à cocher est cochée, changez le fond du label */
.checkbox-custom:checked+.checkbox-label {
    background-color: mediumseagreen;
    /* La couleur que vous voulez */
}

.checkbox-label:hover{
    box-shadow: 0vh 0vw 0.1vh 0.1vw whitesmoke;
}


#compAlreadyExist {
    font-size: small;
}

#suppFicheButton{
    background-color: crimson;
}

#sauvegarderFicheButton{
    background-color: mediumseagreen;

}

.binImg{
    max-height: 1.5vh;
    max-width: 3vw;
}


.btnLigne {
    background-color: lightgrey;
    border: solid 0.1vw whitesmoke;
    border-radius: 20px;
    font-family: calibri;
    font-size: 1.5vw;
    padding: 0.5vh 1vw;
}

.btnLigne:hover{
    color:whitesmoke;
    box-shadow: 0vh 0vw 0.1vh 0.1vw whitesmoke;
}

.btnLigne:active{
    background-color: gainsboro;
}